x-web-common: &web-common
  env_file:
    - path: "docker/env/web"
      required: true
    - path: "docker/env/web.local"
      required: false
  user: "${UID:-1000}:${GID:-1000}"
  build:
    context: .
    dockerfile: "Dockerfile"
    args:
      ENV_TYPE: "development"
  pull_policy: build
  image: {{ cookiecutter.project_slug }}-web:latest
  volumes:
    - ${PWD}/docker/data/web/:/data/
    - ${PWD}/:/app/
  depends_on:
    db:
      condition: service_healthy
{%- if cookiecutter.enable_celery == "y" or cookiecutter.enable_redis == "y" %}
    messaging:
      condition: service_started
{%- endif %}

services:
  web:
    <<: *web-common
    command: bash -c "/app/bin/release.sh && /app/bin/web.sh"
    ports:
      - 5000:5000

{%- if cookiecutter.enable_celery == "y" %}

  worker:
    <<: *web-common
    deploy:
      mode: replicated
      replicas: {{ cookiecutter.celery_workers_local }}
    command: /app/bin/worker.sh

{%- endif %}
{%- if cookiecutter.enable_mailhog == "y" %}

  mail-worker:
    <<: *web-common
    command: /app/bin/mail-worker.sh
    depends_on:
      db:
        condition: service_healthy
      messaging:
        condition: service_started

{%- endif %}

  db:
    env_file:
      - path: "docker/env/db"
        required: true
      - path: "docker/env/db.local"
        required: false
    shm_size: "${DB_SHM_SIZE:-{{ cookiecutter.db_shm_size }}}"
{%- if cookiecutter.database_software == "postgres" %}
    image: "{{ cookiecutter.db_image }}:{{ cookiecutter.db_version }}"
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    volumes:
      - ${PWD}/docker/data/db/:/data/:rw
      - ${PWD}/docker/conf/db/postgresql.dev.conf:/etc/postgresql/postgresql.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      retries: 5
{%- elif cookiecutter.database_software == "mariadb" %}
    image: "{{ cookiecutter.db_image }}:{{ cookiecutter.db_version }}"
    volumes:
      - ${PWD}/docker/data/db/:/data/:rw
      - ${PWD}/docker/conf/db/my.cnf:/etc/mysql/my.cnf:ro
    healthcheck:
      test: ["CMD-SHELL", "mariadb -u $$MARIADB_USER --password=$$MARIADB_PASSWORD -e 'SHOW DATABASES'"]
      interval: 3s
      retries: 5
{%- endif %}

{%- if cookiecutter.enable_mailhog == "y" %}

  mail:
    env_file:
      - path: "docker/env/mail"
        required: true
      - path: "docker/env/mail.local"
        required: false
    image: "{{ cookiecutter.mailhog_image }}:{{ cookiecutter.mailhog_version }}"
    volumes:
      - ${PWD}/docker/data/mail/:/data/
    ports:
      - "8025:8025"

{%- endif %}

{%- if cookiecutter.enable_celery == "y" or cookiecutter.enable_redis == "y" %}

  messaging:
    env_file:
      - path: "docker/env/messaging"
        required: true
      - path: "docker/env/messaging.local"
        required: false
    image: "{{ cookiecutter.redis_image }}:{{ cookiecutter.redis_version }}"
    volumes:
      - ${PWD}/docker/data/messaging/:/data/

{%- endif %}

{%- if cookiecutter.enable_minio == "y" %}

  storage:
    env_file:
      - path: "docker/env/storage"
        required: true
      - path: "docker/env/storage.local"
        required: false
    image: "{{ cookiecutter.minio_image }}:{{ cookiecutter.minio_version }}"
    volumes:
      - ${PWD}/docker/data/storage/:/data/
    ports:
      - 9000:9000
      - 9001:9001
    command: ["server", "/data", "--console-address", ":9001"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9000/minio/index.html || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
{%- endif %}
