{%- if cookiecutter.enable_celery == "y" %}
celery
django-celery-results
{%- endif %}
dj_database_url
{%- if cookiecutter.enable_minio == "y" %}
django-storages[s3]
{%- endif %}
Django >= 4.1, < 4.2
gunicorn
ipython  # for enhanced Django shell
{%- if cookiecutter.database_software == "postgres" %}
psycopg2-binary
{%- elif database_software == "mariadb" %}
mysqlclient
{%- endif %}
python-decouple
{%- if cookiecutter.enable_celery == "y" or cookiecutter.enable_redis == "y" %}
redis
{%- endif %}
{%- if cookiecutter.enable_sentry == "y" %}
sentry-sdk
{%- endif %}
whitenoise
